# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variable files
.env

# Ignore Python virtual environment
.venv/

# Ignore PyCharm project files
.idea/

.DS_Store